@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --DesaturatedRed: hsl(0, 36%, 70%);
    --SoftRed: hsl(0, 93%, 68%);
    --DarkGrayishRed:hsl(0, 6%, 24%);
}
body{
    background: url(/images/bg-pattern-desktop.svg);
    background-size: cover;
    font-family: 'Josefin Sans',sans-serif;
    background-repeat: no-repeat;
    background-position: ;
}
.wrapper{
    display: flex;
    width: 100%;
    min-height: 100vh;
}
.left{
    width: 60%;
    margin: 60px;
}
.hero{
    width: 40%;  
}
.hero-image{
    background: url(/images/hero-desktop.jpg);
    background-size: cover;
    background-position: center center;
}
.logo{
    margin:0 0 70px 0 ;
}
header{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 20px;
}
span{
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}
.main-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}
.lower{
    max-width:450px;
}
 .form{
    margin-top:25px;
    position: relative;
}

input{
    height: 35px;
    width: 80%;
    outline:none;
    background-color: transparent;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 20px;
    padding: 15px;
    font-size:16px;
}
input:focus{
    box-shadow: 0px 0px 10px hsla(0,36%,70%,0.5);
    border-width: 2px;
}
input::placeholder{
    color: hsl(0, 36%, 70%);
}
.error{
    position: absolute;
    left: 55%;
    top:30%;
}
button{
    position: absolute;
    top: 0;
    left:70%;
    width: 15%;
    height: 35px;
    border: none;
    border-radius: 25px;
    background-image: 
    linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    cursor: pointer; 
    box-shadow: 2px 5px 10px hsla(0, 36%, 70%,0.5);  
    transition: opacity 0.2s ease;
    outline: none;
}

button:hover{
    background-image:linear-gradient(135deg,hsl(0, 36%, 70%),hsl(0, 80%, 86%)) ;
}
@media screen and (max-width:400px){
    .left{
        width: 100%;
    }
    .hero{
        display: none;
    }    
}

/* .lower{
    background: url(/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    width: 100%;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    
}
header{
    font-size: 32px;
    width: 55%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.span-a{
    color: hsl(0, 36%, 70%);
    letter-spacing: 8px;
}
.span-b{ 
    letter-spacing: 10px;
}
.span-c{
    letter-spacing: 8px;
}
.main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: 16px;
    font-weight: 500px;
    color: hsl(0, 36%, 70%);
    line-height: 23px;
}
.span-1{
    width: 100%;
}
.span-2{
    width: 100%;
    letter-spacing: 0.5px;
}
.span-3{
    width: 95%;
}
.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-bottom: 50px;
    width: 100%;
}
.input{
    position: relative;
}
input{
    height: 35px;
    width: 280px;
    outline:none;
    background-color: transparent;
    border: 2px solid hsl(0, 36%, 70%);
    border-radius: 20px;
    color: hsl(0, 36%, 70%);
}
.error{
    position: absolute;
    left: 65%;
}
.btn{
    position: absolute;
    left: 75%;
    width: 40%;
}
button{
    width: 35%;
    height: 35px;
    border: none;
    border-radius: 25px;
    background-color: hsl(0, 93%, 68%);
}
@media (max-width:375px){
    .wrapper{
        width: 100%;
    }
} */